<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>
        <h1 class="name">
            <input type="text" name="name" value="{{data.name}}" placeholder="{{localize 'Name'}}"/>
        </h1>
    </header>

    <fieldset>
        <main class="better-rolltables">
            <div class="form-group">
                <label>{{localize 'better-rolltables.TypeLabel'}}</label>
                <select {{#if disabled}}disabled{{/if}} name="flags.better-rolltables.table-type">
                    {{#select better-rolltables.table-type}}
                    <option value="none">{{localize 'better-rolltables.TypeDefault'}}</option>
                    <option value="better">{{localize 'better-rolltables.BetterTable'}}</option>
                    <option value="loot">{{localize 'better-rolltables.TypeLoot'}}</option>
                    <option value="harvest">{{localize 'better-rolltables.TypeHarvest'}}</option>
                    <option value="story">{{localize 'better-rolltables.StoryLoot'}}</option>
                    {{/select}}
                </select>
            </div>

            {{!-- NONE TABLE (STANDARD) --}}

            {{!-- BETTER TABLE --}}

            <div class="form-group {{#ifcontain better-rolltables.table-type "better"}}hidden{{/ifcontain}}">
                <label for="flags.better-rolltables.loot-amount-key">{{localize 'better-rolltables.BetterRollAmount'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "better"}}hidden{{else}}text{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.BetterRollAmountPlaceholder'}}"
                    name="flags.better-rolltables.loot-amount-key" value="{{better-rolltables.loot-amount-key}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>

            {{!-- LOOT TABLE --}}

            <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
                <label>{{localize 'better-rolltables.CurrencyLoot'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "loot"}}text{{else}}hidden{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.CurrencyLootPlaceholder'}}"
                    name="flags.better-rolltables.table-currency-string" value="{{better-rolltables.table-currency-string}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>
            <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
                <label for="flags.better-rolltables.loot-amount-key">{{localize 'better-rolltables.LootRollAmount'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "loot"}}hidden{{else}}text{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.LootRollAmountPlaceholder'}}"
                    name="flags.better-rolltables.loot-amount-key" value="{{better-rolltables.loot-amount-key}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>
            <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
                <label>{{localize 'better-rolltables.LootActorName'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "loot"}}text{{else}}hidden{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.LootActorNamePlaceholder'}}" name="flags.better-rolltables.loot-actor-name"
                    value="{{better-rolltables.loot-actor-name}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>

            {{!-- HARVEST TABLE --}}
            <!-- TODO
            <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}{{else}}hidden{{/ifcontain}}">
                <label>{{localize 'better-rolltables.HarvestDcValue'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "harvest"}}text{{else}}hidden{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.HarvestDcValuePlaceholder'}}"
                    name="flags.better-rolltables.harvest-dc-value" value="{{better-rolltables.harvest-dc-value}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>
            <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}{{else}}hidden{{/ifcontain}}">
                <label>{{localize 'better-rolltables.HarvestSkillValue'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "harvest"}}text{{else}}hidden{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.HarvestSkillValuePlaceholder'}}"
                    name="flags.better-rolltables.harvest-skill-value" value="{{better-rolltables.harvest-skill-value}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>
            -->
            <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}hidden{{/ifcontain}}">
                <label for="flags.better-rolltables.harvest-amount-key">{{localize 'better-rolltables.HarvestRollAmount'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "harvest"}}hidden{{else}}text{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.HarvestRollAmountPlaceholder'}}"
                    name="flags.better-rolltables.harvest-amount-key" value="{{better-rolltables.harvest-amount-key}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>
            <!-- TODO for now not actor creation
            <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}{{else}}hidden{{/ifcontain}}">
                <label>{{localize 'better-rolltables.HarvestActorName'}}</label>
                <input type="{{#ifcontain better-rolltables.table-type "harvest"}}text{{else}}hidden{{/ifcontain}}"
                    placeholder="{{localize 'better-rolltables.HarvestActorNamePlaceholder'}}" name="flags.better-rolltables.loot-actor-name"
                    value="{{better-rolltables.loot-actor-name}}"
                    {{#if disabled}}disabled{{/if}}>
            </div>
            -->

        </main>
    </fieldset>

    <div class="form-group stacked">
        <label>{{ localize "TABLE.Description" }}</label>
        <textarea name="description">{{ data.description }}</textarea>
    </div>

    <div class="form-group">
        <label>{{ localize "TABLE.Formula" }}</label>
        <input type="text" name="formula" value="{{data.formula}}" placeholder="{{localize 'Roll Formula'}}"/>
    </div>

    <div class="form-group">
        <label>{{ localize "TABLE.Replacement" }}</label>
        <input type="checkbox" name="replacement" {{checked data.replacement}}/>
    </div>

    <div class="form-group">
        <label>{{ localize "TABLE.DisplayRoll" }}</label>
        <input type="checkbox" name="displayRoll" {{checked data.displayRoll}}/>
    </div>

    <div class="form-group">
      <label>{{localize "better-rolltables.label.tableTextHiddenTable"}}</label>
      <input type="checkbox" name="flags.better-rolltables.brt-hidden-table" {{checked data.flags.better-rolltables.brt-hidden-table}}>
    </div>

    <!-- Roll Table Results Loop -->
    <section class="results">
        <ol class="table-results">
            <li class="table-result table-header flexrow">
                <div class="result-image">
                    <a class="create-result" title="{{ localize "TABLE.ResultCreate" }}">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>

                <div class="result-type">
                    <label>{{ localize "TABLE.ResultType" }}</label>
                </div>

                <div class="result-details">
                    <label>{{ localize "TABLE.ResultDetails" }}</label>
                </div>
                <!-- TODO
              <div class="result-quantity-formula">
                <label>{{ localize "RTI.qtFormulaLabel" }}</label>
              </div>
                -->

                <div class="result-weight">
                    <label>{{ localize "TABLE.ResultWeight" }}</label>
                </div>

                <div class="result-range">
                    <label>{{ localize "TABLE.ResultRange" }}</label>
                </div>

                {{#if owner}}
                <div class="result-controls">
                    <a class="normalize-results" title="{{ localize "TABLE.Normalize" }}">
                        <i class="fas fa-balance-scale"></i>
                    </a>
                </div>
                {{/if}}
            </li>

            {{#each results as |result i|}}
            <li class="table-result flexrow {{#if result.drawn}}drawn{{/if}}" data-result-id="{{result._id}}">
                <input type="hidden" name="results.{{i}}._id" value="{{result._id}}"/>

                <div class="result-image">
                    <img src="{{result.img}}" data-edit="results.{{i}}.img" width="32" height="32"/>
                </div>

                <div class="result-type">
                    <select name="results.{{i}}.type" data-dtype="Number">
                        {{#select result.type}}
                        {{#each ../resultTypes as |title type|}}
                        <option value="{{type}}">{{title}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="result-details">
                    <input type="hidden" name="results.{{i}}.documentId" value="{{result.documentId}}"/>

                    {{#if result.isText}}
                    <input type="text" name="results.{{i}}.text" value="{{result.text}}" placeholder="{{localize 'TABLE.ResultDescription'}}"/>

                    {{else if result.isDocument}}
                    <select name="results.{{i}}.documentCollection">
                        {{#select result.documentCollection}}
                        {{#each ../documentTypes}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input class="result-target" name="results.{{i}}.text" type="text" value="{{result.text}}"/>

                    {{else if result.isCompendium}}
                    <select name="results.{{i}}.documentCollection">
                        {{#select result.documentCollection}}
                        {{#each ../compendiumPacks}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input class="result-target" name="results.{{i}}.text" type="text" value="{{result.text}}"/>
                    {{/if}}
                </div>
                <!-- TODO
                <div class="result-quantity-formula">
                  <input type="text" name="results.{{i}}.flags.better-rolltables.qtFormula" value="{{result.qtFormula}}" placeholder="{{localize "better-rolltables.label.qtFormulaPlaceholder"}}">
                </div>
                -->
                <div class="result-weight">
                    <input type="text" name="results.{{i}}.weight" value="{{result.weight}}" placeholder="1" data-dtype="Number"/>
                </div>

                <div class="result-range">
                    <input type="text" name="results.{{i}}.rangeL" value="{{result.range.[0]}}" placeholder="L" data-dtype="Number"/>
                    <span> - </span>
                    <input type="text" name="results.{{i}}.rangeH" value="{{result.range.[1]}}" placeholder="H" data-dtype="Number"/>
                </div>

                {{#if ../owner}}
                <div class="result-controls">
                    <a class="lock-result" title="{{ localize "TABLE.ToggleDrawn" }}">
                        <i class="fas {{#if result.drawn}}fa-lock{{else}}fa-unlock{{/if}} fa-fw"></i>
                    </a>
                    <input type="hidden" name="results.{{i}}.drawn" value="{{result.drawn}}" data-dtype="Boolean"/>
                    <a class="delete-result" title="{{ localize "TABLE.ResultDelete" }}">
                        <i class="fas fa-trash fa-fw"></i>
                    </a>
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ol>
    </section>

    <!-- Roll Table Footer -->
    <footer class="sheet-footer flexrow">
        {{#if owner}}
        <button class="submit" type="submit"><i class="fas fa-save"></i> {{ localize "TABLE.Update" }}</button>
        <button class="reset" type="button"><i class="fas fa-undo"></i> {{ localize "TABLE.Reset" }}</button>
        {{/if}}
        <button class="roll" type="button"><i class="fas fa-dice-d20"></i> {{ localize "TABLE.Roll" }}</button>
    </footer>
</form>
