<fieldset>
    <legend class="toggler" data-expands='.table-results'>
        <i class="fas fa-cogs"></i> {{localize 'better-rolltables.Buttons.Rolltable.Configuration.Title'}}<i class="toggleicon fas fa-expand-alt"></i>
    </legend>
    <main class="better-rolltables-hidden">
        <section class="tags" style="float: right;">
            <header class="toggler">
                {{localize 'better-rolltables.Settings.Tags.Title'}} <i class="toggleicon fas fa-expand-alt"></i>
            </header>
            <div class="better-rolltables-hidden">
                <input type="hidden" name="flags.better-rolltables.tags" value="{{better-rolltables.tags}}">
                <div class="tagger"></div>
            </div>
        </section>
        <div class="form-group">
            <label>{{localize 'better-rolltables.TypeLabel'}}</label>
            <select {{#if disabled}}disabled{{/if}} name="flags.better-rolltables.table-type">
                {{#select better-rolltables.table-type}}
                <option value="none">{{localize 'better-rolltables.TypeDefault'}}</option>
                <option value="better">{{localize 'better-rolltables.BetterTable'}}</option>
                <option value="loot">{{localize 'better-rolltables.TypeLoot'}}</option>
                <option value="harvest">{{localize 'better-rolltables.TypeHarvest'}}</option>
                <option value="story">{{localize 'better-rolltables.TypeStory'}}</option>
                {{/select}}
            </select>
        </div>

        {{!-- NONE TABLE (STANDARD) --}}

        {{!-- BETTER TABLE --}}

        <div class="form-group {{#ifcontain better-rolltables.table-type "better"}}hidden{{/ifcontain}}">
            <label for="flags.better-rolltables.loot-amount-key">{{localize 'better-rolltables.BetterRollAmount'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "better"}}hidden{{else}}text{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.BetterRollAmountPlaceholder'}}"
                name="flags.better-rolltables.loot-amount-key" value="{{better-rolltables.loot-amount-key}}"
                {{#if disabled}}disabled{{/if}}>
        </div>

        {{!-- LOOT TABLE --}}

        <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'better-rolltables.CurrencyLoot'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "loot"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.CurrencyLootPlaceholder'}}"
                name="flags.better-rolltables.table-currency-string" value="{{better-rolltables.table-currency-string}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
            <label for="flags.better-rolltables.loot-amount-key">{{localize 'better-rolltables.LootRollAmount'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "loot"}}hidden{{else}}text{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.LootRollAmountPlaceholder'}}"
                name="flags.better-rolltables.loot-amount-key" value="{{better-rolltables.loot-amount-key}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        <div class="form-group {{#ifcontain better-rolltables.table-type "loot"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'better-rolltables.LootActorName'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "loot"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.LootActorNamePlaceholder'}}" name="flags.better-rolltables.loot-actor-name"
                value="{{better-rolltables.loot-actor-name}}"
                {{#if disabled}}disabled{{/if}}>
        </div>

        {{!-- HARVEST TABLE --}}
        <!-- TODO
        <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'better-rolltables.HarvestDcValue'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "harvest"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.HarvestDcValuePlaceholder'}}"
                name="flags.better-rolltables.harvest-dc-value" value="{{better-rolltables.harvest-dc-value}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'better-rolltables.HarvestSkillValue'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "harvest"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.HarvestSkillValuePlaceholder'}}"
                name="flags.better-rolltables.harvest-skill-value" value="{{better-rolltables.harvest-skill-value}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        -->
        <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}hidden{{/ifcontain}}">
            <label for="flags.better-rolltables.harvest-amount-key">{{localize 'better-rolltables.HarvestRollAmount'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "harvest"}}hidden{{else}}text{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.HarvestRollAmountPlaceholder'}}"
                name="flags.better-rolltables.harvest-amount-key" value="{{better-rolltables.harvest-amount-key}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        <!-- TODO for now not actor creation
        <div class="form-group {{#ifcontain better-rolltables.table-type "harvest"}}{{else}}hidden{{/ifcontain}}">
            <label>{{localize 'better-rolltables.HarvestActorName'}}</label>
            <input type="{{#ifcontain better-rolltables.table-type "harvest"}}text{{else}}hidden{{/ifcontain}}"
                placeholder="{{localize 'better-rolltables.HarvestActorNamePlaceholder'}}" name="flags.better-rolltables.loot-actor-name"
                value="{{better-rolltables.loot-actor-name}}"
                {{#if disabled}}disabled{{/if}}>
        </div>
        -->

    </main>
</fieldset>
